/* Paleta de colores
#FF6500 na
#1E3E62 az
#0B192C azo */

/*  Comentario en CSS   */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Selector de etiqueta */

/* HEADER */
header{
    margin-bottom: 0px;
    color: black;
    height: 80px;
    position: sticky;
    top: 0px;
    margin: 0px;
    z-index: 1000;  
}
header li{
    border: #ccc 3px outset;
    padding: 0px 5px;
    background-color: rgba(255, 101, 0, 0.6);
    list-style: none;
}
/*.menu-izquierda{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 1.3em;
    position: relative;
    top: -55px;
    left: -25px;
}
.menu-derecha{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 10px;
    margin: 0px 5px;
    font-size: 2em;
}*/
.bannerHeader{
    background-image: url(../imagenes/bannerHeader.png);
    background-size: cover;
    background-position: center;
    text-shadow: 0px 0px 20px white !important;
    height: 100%;
}

/* Menu de Navegacion BOOTSTRAP */

.navbar-brand{
    color: white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    padding: 0px 5px;
    margin-top: -5px;
    margin-left: -10px;
}
.navbar-brand:hover{
    color: #FF6500;
}
.navbar-toggler{
    margin-top: -5px;
    margin-right: -5px;
    width: 1.5em;
    height: 1.5em;
    border: solid 1px white;
}
.navbar-toggler-icon{
    filter: brightness(0) invert(1);
    height: 1em;
    width: 1em;
    margin-left: -9px;
    margin-top: -8px;
}
.navbar-nav{
    align-items: end;
    filter: brightness(1);
    --bs-nav-link-color: white;
    text-shadow: 1px 1px 1px black;
}
.nav-item{
    background-color: transparent;
    border: none;
}
.nav-link{
    padding: 2px;
}
.nav-link:hover{
    color:#FF6500;
}


/* mediaQuerry head */

@media (min-width:480px) and (max-width:500px) {
    /*.menu-izquierda {
        gap: 5px;
        font-size: smaller;
        margin-top: 30px;        
    }
    .menu-derecha {
        font-size: medium
    }*/
    header{
        height: 70px;
    }
}
@media (min-width:360px) and (max-width:479px) {
    header li{
        border: #ccc 2px outset;
    }
    .menu-izquierda {
        gap: 2px;
        font-size: x-small;
        margin-top: 30px;        
    }
    .menu-derecha {
        font-size: smaller;
        top: 8px;
    }
    header{
        height: 45px;
    }
    header li{
        padding: 1px;
    }
}

@media (min-width:320px) and (max-width:359px) {
    header li{
        border: #ccc 2px outset;
    }
    .menu-izquierda {
        gap: 2px;
        font-size: xx-small;
        margin-top: 30px;        
    }
    .menu-derecha {
        font-size: smaller;
        top: 10px;
    }
    header{
        height: 40px;
    }
    header li{
        padding: 0px;
    }
}

/* MAIN */
main{
    background-color: #0b192C;
    margin: 0px;
    padding: 5px;
    font-family: "Bebas Neue", sans-serif;
    color: #ccc;
    height: 100%;
}
/*.logoindex{
    width: 100%;
    height: 400px;
    margin: 0px;
    padding: 0px;
    image-rendering: optimizeQuality;
    border-radius: 5px;
}*/
main h2, h3{
    text-decoration: underline;
    letter-spacing: 1px;
    color: #FF6500;
}
main h2{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
textarea{ 
    width: 100%;
    height: 100px;
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 5px;
}
label {
    font-weight: bold;
    color: #FF6500;
    text-decoration: underline;
    letter-spacing: 1px;
}
input, label{
    padding: 5px;
    font-size: large;
}

article li>a{
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: #FF6500;
    text-decoration: none;
    margin: 10px;
}
.urls{
    text-decoration-line: underline;
    margin: 0px;
}
.videoTrailer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoTrailer iframe {
    width: 600px;
    max-width: 100%;
}
a{
    color: #FF6500;
}

/* INDEX BOOTSTRAP */

.carousel-inner img{
    height: 500px;
}

/* MAIN FLEX Y GRID */
/* NOVEDADES FLEX */
.seccion-novedades{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around; 
}
.seccion-novedades img{
    width: 100%;
    height: 500px;
}
.anime-flex{
    width: 45%;
    padding: 15px;
}
.manga-flex{
    width: 45%;
    padding: 15px;
}

/* NOVEDADES BOOTSTRAP */

.accordion-item{
    border: solid #FF6500;
    border-top-width: 0.5px;
    z-index: 1;
}
.accordion-button{
    padding: 0px 5px;
    z-index: 1;
}
.accordion-button::after {
    filter: brightness(0) invert(1); /* No sabia como hacerlo ni encontraba la forma, asi que pedi ayuda externa xD */
}

/* POPULARES GRID */
.seccion-populares1 img{
    width: 100%;
    height: 100%;
}
.seccion-populares1{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 700px);
    column-gap: 10px;
    row-gap: 10px;
    padding-bottom: 50px;
}
.seccion-populares2 img{
    height: 100%;
    width: 100%;
}
.seccion-populares2{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: repeat(2, 700px);
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 120px;
}

/* EN EMISION GRID */
.seccion-emision1{
    display: grid;
    grid-template-areas: 
    "anime1 anime2 anime3"
    "anime4 anime5 .";
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, auto);
    row-gap: 60px;
    column-gap: 5px;
    justify-content: center;
    padding-bottom: 60px;
}
.seccion-emision1 img{
    width: 100%;
    height: 100%;
}
.seccion-emision1 figcaption{
    font-size: 40px;
}
.anime-emision1{
    grid-area: anime1;
    letter-spacing: 1px;
    text-align: center;
}
.anime-emision2{
    grid-area: anime2;
    letter-spacing: 1px;
    text-align: center;
}
.anime-emision3{
    grid-area: anime3;
    letter-spacing: 1px;
    text-align: center;
}
.anime-emision4{
    grid-area: anime4;
    letter-spacing: 1px;
    text-align: center;
}
.anime-emision5{
    grid-area: anime5;
    letter-spacing: 1px;
    text-align: center;
}
.seccion-emision2{
    display: grid;
    grid-template-areas: 
    "manga1 manga2 manga3"
    "manga4 manga5 .";
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, auto);
    row-gap: 60px;
    column-gap: 5px;
    justify-content: center;
    padding-bottom: 60px;
}
.seccion-emision2 img{
    width: 100%;
    height: 100%;
}
.seccion-emision2 figcaption{
    font-size: 40px;
}
.manga-emision1{
    grid-area: manga1;
    letter-spacing: 1px;
    text-align: center;
}
.manga-emision2{
    grid-area: manga2;
    letter-spacing: 1px;
    text-align: center;
}
.manga-emision3{
    grid-area: manga3;
    letter-spacing: 1px;
    text-align: center;
}
.manga-emision4{
    grid-area: manga4;
    letter-spacing: 1px;
    text-align: center;
}
.manga-emision5{
    grid-area: manga5;
    letter-spacing: 1px;
    text-align: center;
}
.manga-emision5 img{
    width: 100%;
}

/* CATEGORIAS FLEX */
.categoria-accion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 0px;
    list-style: none;
    letter-spacing: 1px;
}
.categoria-accion img{
    width: 100%;
    height: 500px;
}
.categoria-accion p{
    font-size: 20px;
}
.categoria-aventura{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    list-style: none;
    padding-bottom: 20px;
    padding-left: 0px;
    letter-spacing: 1px;
}
.categoria-aventura img{
    width: 100%;
    height: 500px;
}
.titulo-categoria{
    font-size: 20px;
}

/* CONTACTOS FLEX */
.formulariotext{
    font-size: 20px;
}
form{
    display: grid;
    grid-template-areas:
    "nombre nombre nombre"
    "email email ."
    "celular celular celular"
    "tema tema ."
    "mensaje mensaje ."
    "verificacion verificacion .";
    grid-template-rows: repeat(4, 55px) 150px 60px;
    grid-template-columns: 100px 250px;
    justify-content: center;
}
.nombre{
    grid-area: nombre;
}
.email{
    grid-area: email;
}
.celular{
    grid-area: celular;
}
.tema{
    grid-area: tema;
}
.mensaje{
    grid-area: mensaje;
}
.verificacion{
    grid-area: verificacion;
}


/* mediaQuery Main */

@media (min-width:480px) and (max-width:500px) {
    /* INICIO */
    .videoTrailer{
        display: flex;
    }
    /*.logoindex{
        height: 250px;
    }*/
    .carousel-inner img{
    height: 200px;
    }
    /* NOVEDADES */
    .seccion-novedades{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
    }
    .seccion-novedades img{
        width: 100%;
    }
    .anime-flex, .manga-flex{
        padding: 0px;
        width: 100%;
    }
    /* POPULARES */
    .seccion-populares1, .seccion-populares2{
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: repeat(4, 500px) !important;
    }
    .seccion-populares1 h3, .seccion-populares2 h3{
        font-size: larger;
    }
    .seccion-populares2{
        padding-bottom: 20px;
    }
    main h2{
        padding: 20px;
    }
    /* EN EMISION */
    .seccion-emision1 figcaption{
        font-size: large;
        letter-spacing: 1px;
    }
    .seccion-emision2 figcaption{
        font-size: large;
        letter-spacing: 1px;
    }
    .seccion-emision1, .seccion-emision2{
        row-gap: 60px;
    }
    /* CATEGORIAS */
    .categoria-accion, .categoria-aventura{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        font-size: larger;
    }
    .titulo-categoria{
        font-size: 30px;
        letter-spacing: 1px;
    }
    /* CONTACTO */
    form{
        grid-template-rows: repeat(4, 35px) 135px 35px;
    }
    input{
        font-size: 10px;
    }
    textarea{
        width: 285px;
    }
}

@media (min-width:360px) and (max-width:479px) {
    /* INICIO */
    /*.logoindex{
        height: 200PX;
    }*/
    .carousel-inner img{
    height: 200px;
    }
    /* NOVEDADES */
    .seccion-novedades{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
    }
    .seccion-novedades img{
        width: 100%;
    }
    .anime-flex, .manga-flex{
        padding: 0px;
        width: 100%;
    }
    /* POPULARES */
    .seccion-populares1, .seccion-populares2{
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: repeat(4, 500px) !important;
    }
    .seccion-populares2{
        margin-bottom: 150px;
    }
    /* EN EMISION */
    .seccion-emision1 figcaption{
        font-size: smaller;
        letter-spacing: 0.5px;
    }
    .seccion-emision2 figcaption{
        font-size: smaller;
        letter-spacing: 0.5px;
    }
    .seccion-emision1, .seccion-emision2{
        row-gap: 45px;
    }
    /* CATEGORIAS */
    .categoria-accion img, .categoria-aventura img{
        height: 450px;
    }
    .categoria-accion, .categoria-aventura{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 500px);
        column-gap: 10px;
        row-gap: 10px;
        font-size: larger;
        text-align: center;
    }
    .titulo-categoria{
        font-size: 30px;
        letter-spacing: 1px;
    }
    /* CONTACTO */
    form{
        grid-template-rows: repeat(4, 30px) 130px 30px;
    }
    .formulariotext{
        font-size: medium;
    }
    input{
        font-size: x-small;
    }
    label{
        font-size: small;
        padding: 0px;
    }
}

@media (min-width:320px) and (max-width:359px) {
    /* INICIO */
    .carousel-inner img{
    height: 200px;
    }
    /* NOVEDADES */
    /*.seccion-novedades img{
        width: 90%;
        height: 350px;
    }
    .seccion-novedades p{
        font-size: small;        
    }*/
    .seccion-novedades{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
    }
    .seccion-novedades img{
        width: 100%;
    }
    .anime-flex, .manga-flex{
        padding: 0px;
        width: 100%;
    }
    /* POPULARES */
    .seccion-populares1, .seccion-populares2{
        grid-template-columns: 1.5fr 1.5fr;
        grid-template-rows: repeat(4, 400px) !important;
    }
    .seccion-populares2{
        margin-bottom: 140px;
    }
    .seccion-populares1 p, .seccion-populares2 p{
        font-size: smaller;
    }
    /* EN EMISION */
    .seccion-emision1 figcaption, .seccion-emision2 figcaption{
        font-size: small;
        letter-spacing: 0.5px;
    }
    /* CATEGORIAS */
    .categoria-accion img, .categoria-aventura img{
        height: 400px;
    }
    .categoria-accion, .categoria-aventura{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 400px);
        column-gap: 10px;
        row-gap: 30px;
        font-size: larger;
        text-align: center;
        margin-bottom: 30px;
    }
    .titulo-categoria{
        font-size: 30px;
        letter-spacing: 1px;
    }
    /* CONTACTO */
    form{
        grid-template-rows: repeat(4, 30px) 130px 30px;
        grid-template-columns: 100px 200px;
    }
    .formulariotext{
        font-size: small;
    }
    textarea{
        height: 80%;
    }
    input{
        font-size: 8px;
    }
    label{
        font-size: small;
        padding: 0px;
    }
}

/* FOOTER */
footer{
    display: grid;
    grid-template-areas:
    "parrafo parrafo"
    "imagen imagen";
    height: 100%;
    background-color: #FF6500;
    margin: 0px
}
footer img{
    width: 100%;
    height: 200px;
    grid-area: imagen;
}
footer p{
    font-size: 25px;
    grid-area: parrafo;
    color: #0b192C;
    font-family: "Bebas Neue", sans-serif;
    margin-left: 5px;
}

/* mediaQuerry footer */

@media (min-width:480px) and (max-width:500px) {
    footer img{
        height: 100px;
    }
    footer p{
        font-size: medium;
        margin-bottom: 0px;
    }
}

@media (min-width:360px) and (max-width:479px) {
    footer img{
        height: 80px;
    }
    footer p{
        font-size: medium;
    }
}

@media (min-width:320px) and (max-width:359px) {
    footer img{
        height: 80px;
    }
    footer p{
        font-size: small;
    }
}

/* Especificidad */
header h1{
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
    color: white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    margin-top: -38px;
}
header a{
    text-decoration: none;
    color: #000000;
    font-family: "Bebas Neue", sans-serif;
}

/* mediaQuery H1 */

@media (min-width:480px) and (max-width:500px) {
    header h1{
        font-size: x-large;
        margin-top: -25px;
    }
}
@media (min-width:360px) and (max-width:479px) {
    header h1{
        font-size: 17px;
        margin-top: -19px;
    }
}
@media (min-width:320px) and (max-width:359px) {
    header h1{
        font-size: medium;
        margin-top: -18px;
    }
}