
@use "partials/header-main-footer";
@use "partials/index-contacto";
@use "partials/novedades-populares";
@use "partials/emision-categorias";
@use "partials/variables";

/* BORDER-BOX DEL SITIO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


